<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h1>Admin side</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Bredde</th>
        <th>Længde</th>
        <th>Pris</th>
        <th>Status</th>
    </tr>

    <th:block th:each="carport : ${carports}">
        <tr>
            <td th:text="${carport.carport_id}"></td>
            <td th:text="${carport.carport_bredde}"></td>
            <td th:text="${carport.carport_laengde}"></td>
            <td th:text="${carport.pris}"></td>
            <td th:text="${carport.status}"></td>
        </tr>
    </th:block>
</table>

</body>

</html>